/* Resetear estilos predeterminados */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos de la barra de navegación */
nav {
    background-color: #007acc; /* Azul */
    padding: 10px;
}

.nav-bar {
    list-style-type: none;
}

.nav-bar li {
    display: inline;
    margin-right: 20px;
}

.nav-bar a {
    text-decoration: none;
    color: #fff; /* Blanco */
}

/* Estilos del menú desplegable */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #0066a2; /* Celeste */
    padding: 10px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Estilos de la tarjeta de quien mantiene el sitio */
.card {
    background-color: #e6f7ff; /* Azul claro */
    padding: 10px;
    margin: 10px;
}


/* Estilos para las imágenes */
.category-images img {
    border: 2px solid #3498db; /* Borde azul */
    padding: 10px; /* Relleno */
    width: 200px; /* Ancho fijo */
    height: 200px; /* Alto fijo */
}

/* Estilos para centrar */
.center-content {
    text-align: center;
}

/* Estilos para las categorías */
.category-title {
    margin-top: 20px;
}

/* Puedes agregar más estilos según tus preferencias */
